<!DOCTYPE html>
<html>
<head>
	<title>Delhi Metro Route</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>

<header  class="wrapper">
	
<nav>
	<div class="logo"> <h1 style="font-size: 20px;"> DELHI METRO ROUTE </h1> </div>
	<div class="menu">
		<a href="/" style="font-size:large">Home</a>
		<a href="#">About</a>
		
		<a href="#">api</a>

	</div>
    </nav>
   
    <div class="info">
    <h1 class="name">ABOUT</h1>
    <p class="details">Lo aperiam nis est msit,mmodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi distinctio aperiam voluptatibus laboriosam beatae ratione facilis eveniet dignissimos, recusandae obcaecati quod, rem nemo aspernatur est molestias enim tempore facere earum.</p>
    <div class="wrapper">
        <div class="button">
           <div class="icon">
              <i class="fab fa-facebook-f"></i>
           </div>
           <span>Facebook</span>
        </div>
        </div>
      </div>
    </div>
</div>
    
        
            

      
    