<!DOCTYPE html>
<html>
<head>
	<title>Delhi Metro Route</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>

<header>
	
<nav>
	<div class="logo"> <h1 style="font-size: 20px;"> DELHI METRO ROUTE </h1> </div>
	<div class="menu">
		<a href="#" style="font-size:large">Home</a>
		<a href="/about">About</a>
		
		<a href="#">api</a>
	</div>
</nav>

	<main>
		<section>
			<h3>METRO ROUTE NAVIGATOR</h3>
			<h1>FIND YOUR ROUTE <span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>
			
			<input href="#" class="source" type=text list="stations1" name="myStation" placeholder="SELECT SOURCE" id="source1"></input>
			<datalist id="stations1" class="btnone">
			<option value="KASHMERE GATE"></option>
			<option value="NEHRU PLACE"></option>
			<option value="KALKAJI MANDIR"></option>
			<option value="RAJ BAGH"></option>
			</datalist>

			<input href="#" class="dest" type=text list="stations2" name="myStation" placeholder="SELECT DESTINATION" id="source2"></input>
			<datalist id="stations2" class="btnone">
			<option value="KASHMERE GATE"></option>
			<option value="NEHRU PLACE"></option>
			<option value="KALKAJI MANDIR"></option>
			<option value="RAJ BAGH"></option>
			</datalist>
			

			<a href="#" class="btntwo" id="routeButton">FIND ROUTE</a>

			<p id="path"></p>
			
		</section>
	</main>


</header>

<script src="/js/script.js"></script>

</body>
</html>