@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgGreen: #00b894;
}

.wrapper {
  background-image: linear-gradient(to right, #000000, #434343);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.api-introduction {
  width: 90%;
  margin: 4rem auto;
  margin-bottom: 1rem;
}

.api-introduction h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

.api-documentation {
  color: white;
  font-size: 1.5rem;
}

.link-format {
  width: 90%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.link-format p {
  font-size: 1.5rem;
}

.link-format a {
  text-decoration: underline;
  color: rgb(64, 144, 218);
}

.apilastDivision {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 3rem auto;
}

.apilastDivision h2 {
  color: white;
  font-size: 3.5rem;
}

li {
  color: white;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.stationss {
  width: 90%;
  margin: 0 auto;
}



@media (max-width: 700px) {
  .api-introduction h2 {
    font-size: 3.1rem;
  }

  /* .api-documentation {
    font-size: 1.1rem;
  }

  .link-format p {
    font-size: 1.1rem;
  } */

  .apilastDivision h2 {
    font-size: 3.1rem;
  }

  li {
    font-size: 1.1rem;
  }
}



@media (max-width: 500px) {
    .api-introduction h2 {
      font-size: 2.3rem;
    }
  
    .apilastDivision h2 {
      font-size: 2.3rem;
    }
  
  
  }
  