@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgGreen: #00b894;
}

.wrapper {
  background-image: linear-gradient(to right, #000000, #434343);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.api-introduction h2{
    color: white;
}

.api-documentation{
    color: white;
}

.link-format{
    margin: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
}


.link-format a{
    text-decoration: underline;
    color: rgb(64, 144, 218);
}

.apilastDivision{
    display: flex;
    flex-direction: column;
}

.apilastDivision h2{
    color: white;
}

li{
    color: white;
}
