@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("../img/metro2blur.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: linear-gradient(to right, #11998e, #38ef7d); */
}

.container-navbar {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

nav {
  width: 100%;
  height: 15vh;
  padding: 0 4rem;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.tab a {
  color: white;
}

.active {
  color: #00b894;
}

/* Main Section */

.container-navbar {
  width: 100%;
  height: auto;
}

.main-section {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}

.main-section-part1 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

.main-section-part2 {
  display: flex;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
  gap: 0.4rem;
  min-width: 60rem;
  max-width: 100vw;

  position: relative;
  left: 4.5rem;
}

.role {
  color: #00b894;
}

.source {
  width: 15rem;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  color: black;
}

.dest {
  width: 15rem;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  color: black;
}

/* list menu */

.main-section-part3 {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.select-container {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1;
  width: 49.5%;
  background-color: white;
  border: 1px solid gray;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown li {
  list-style-type: none;
  padding: 10px;
  color: black;
}

.dropdown li:hover {
  background-color: lightgray;
  cursor: pointer;
}

#station-list-2 {
  position: absolute;
  left: 15.3rem;
}

.btn-pink {
  background-color: #e84949;
  padding: 0.8rem 2rem;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px #0000003f;
  border: 0;

  background: linear-gradient(to left, #00b894 50%, #4267b2 50%);

  background-size: 200% 100%;

  background-position: right;

  transition: all 0.8s;
}

.btn-pink:hover {
  background-position: left;
}

/* Display Section */
#content {
  display: none;
}

.display-metro-stations {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("../img/metro2blur.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;

  z-index: 0;
  /* background-image: linear-gradient(to right, #11998e, #38ef7d); */
  /* background-color: black; */
}

#thelist {
  position: relative;
  margin: 0 auto;
  height: auto;
  /* margin-top: 30rem; */
}

.main-container {
  width: 50%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-left: 30rem;
  z-index: 10;
}

.line-container {
  position: relative;
  display: inline-flex;
  gap: 0;
  margin-right: 1rem;
}

.theline-container {
  /* position: relative; */
  width: 0.6rem;
  height: 10rem;
  background-color: #bbb;
  z-index: 0;
}

.thelist-number {
  text-align: center;
  margin: 4rem auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: -0.9rem;
  padding-top: 0.6rem;
}

#path {
  width: 40%;
  margin: 0 auto;
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 10px gray;
}

.main-container:first-child .theline-container {
  clip-path: inset(50% 0 0 0);
}

.main-container:last-child .theline-container {
  clip-path: inset(0 0 50% 0);
}

.main-containerinterchange {
  border: 1px solid rgb(155, 155, 155);
  /* box-shadow: 1px 0px 10px 5px rgb(155 155 155); */
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  margin-left: 16rem;
  z-index: 10;
}

.swal2-toast {
  position: absolute !important;
  top: 0 !important;
  background-color: rgb(149, 149, 0) !important;
  width: 700px !important;
  opacity: 80% !important;
  margin: 0 1rem !important;
  color: white !important;
}

.swal2-toast:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px yellow;
}
